.header {display:none}
.buffer {clear: both; width: 1px; height: 30; margin: 0px; padding: 0px; background-color: rgb(255,255,255);}
div#new-caches-area { width: 415px; }
div#new-events-area { width: 415px; }
div#main-cachemap-block {width: 265px;}
